<% content_for :title do %>
  Gumroad
<% end %>

<%= render "layouts/navbar-inner" %>

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <br>
            <hr>
        	<div class="col-md-5">
                <img src="/assets/speakers.jpg" height="200" width="200" alt="Two music speakers"/>
            </div>
            <div class="col-md-7">
                <h1><strong>Recorded Music</strong></h1>
                <p>
                    Tracks and albums from the best musicians and artists in the biz.
                </p>
                <i class="fa fa-user-circle-o text-muted" aria-hidden="true"> 662 creators</i>
                <i class="fa fa-cubes text-muted" aria-hidden="true"> 2K products</i>
                <i class="fa fa-usd text-muted" aria-hidden="true">167K sales</i>
                <br>
                <br>
                <%= link_to "/show-page", class: 'btn btn-gumroad' do %>
                    LISTEN NOW <i class="fa fa-play-circle" aria-hidden="true"></i>
                <% end %>
            </div>   
        </div>
    </div>
</div>


<!-- Gumroad application -->

<!-- Served in financial operations for three years within financial services, fintech and banking for the Vanguard Group, Square and Wells Fargo, respectively. A sharp strategist with a keen eye to spot weaknesses and strengths to wisely leverage creative faculties to help build revolutionary and daring products and services. Oftentimes considered an underdog, I love challenging the status quo and conventional perception.

I'd prefer to work remotely. Would love to unpeel the layers of discovery for my simple feature tweak for Gumroad (can build out a full working model to display functionality if solution is of interest). 

Feature Improvement: -->
