<% content_for :title do %>
  Hello 👋
<% end %>

<%= render "layouts/navbar" %>

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <br>
            <hr>
            <br>
            <div class="row">
            	<div class="col-md-12">
            		<div class="text-center">
	            		<h1 class="special"><strong>
	            			Make money sound easy.
	            		</strong></h1>
	            		<h4 class="text-muted">
	            			Limitless instant payouts for musicians and artists.
	            		</h4>
		        	  </div>
            	</div>
            </div>
            <br>
            <br>
            <br>
            <table class="table borderless">
              <tbody>
                <tr>
                  <th scope="row"><br>OBJECTIVE</th>
                  <td><p><br>
                  	10x all categories within the <i>Recorded Music</i> product category in a year.
                  <br><br></p></td>
                </tr>
                <tr>
                  <th scope="row"><br>HOW</th>
                  <td><p><br>
                  	Cool, simple and minimal rating system unique to Gumroad's brand that easily unlocks limitless, no-restriction instant payouts for musicians and artists.
                  <br><br></p></td>
                </tr>
                <tr>
                  <th scope="row"><br>WHY</th>
                  <td><p><br>
                  	Huge opportunity within digital distribution to increase Gumroad's market share through a simple points-based rating system through user-generated music content to immensely boost the brand's reach and power organically.
              	  <br><br></p></td>
                </tr>
                <tr>
                  <th scope="row"><br>WHAT</th>
                  <td><p><br>
                  	<i>Spit, Chew, Swallow</i> rating system. Inspired by the Facebook Like button, the <i>Spit, Chew, Swallow</i> buttons would replace the five-star rating system that is currently present on Gumroad's show page for musicians and artists within the <i>Recorded Music</i> product category. The <i>Spit, Chew, Swallow</i> buttons are tied to a weighted points scale (akin to credit card rewards systems) that allows for musicians and artists to better benefit from their talent, work and/or popularity in a way that is deemed fair for users with Gumroad and random selected musicians and artists (think jury duty) serving as the official "oversight" for fairness.
                  	<br><br></p></td>
                </tr>
                <tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
          <br>
          <br>
        </div>
    </div>
</div>

<%= render "layouts/footer" %>
