<div class="wrapper">
    <div class="push"></div>
</div>
<div class="footer"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
			<div class="text-center">
				<h6>
					<%= link_to "Continue", "/index", class: 'btn btn-gumroad btn-block' %>
				</h6>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>
