<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="/"><img src="/assets/gumroad.png" height="80" width="80" alt="Gumroad logo" /></a>
            </nav>
        </div>
    </div>
</div>
